body{
    font-family: Arial;
    margin: 0;
}
body h2{
    margin: 100;
    text-align-last: center;    
}

a{
    text-decoration: none;
    color: rgb(252, 250, 250);
}

header{ 
    display: flex;
    height: 80px;
    background-color: #6f0180;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.pugsito2{
    display: flex;
    align-items: center;
}

.pugsito2 img{
    height: 100px;
    margin-right: 20px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;

}

nav a:hover{
    color: rgb(255, 177, 252);
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #6f0180;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}






body {
    background-color: #f0f0f0;
    background-image:
        conic-gradient(from 180deg, rgba(255, 255, 255, 0.5) 0% 20%, rgba(234, 234, 234, 0.5) 20% 40%, rgba(244, 244, 245, 0.5) 40% 60%);
    background-size: 200% 200%; 
    background-position: 30% 20%, 70% 60%, 40% 80%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}







/* Estilo para la casilla de verificación y el texto */
label[for="terms"] {
    margin-top: 15px;
    font-weight: normal;
}


a:hover {
    text-decoration: underline;
}

/* "Términos y Condiciones" */
.terms-link {
    color: #04bcf9;
}

.terms-link:hover {
    color: #04bcf9;
}
